body {
  font-family: 'Open Sans', sans-serif;
}

.search-field {
  display: flex;
  justify-content: start;
  align-items: center;
  width: max-content;
  
  padding: 10px;
}

.random-button {
  height: 4em;
}

.cocktail-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 200px;
}

table {
  border-collapse: collapse;
  width: 60%;
  font-size: 0.8em;
}

.cocktail-name {
  font-size: 2em;
}

.cocktail-table {
  border: 2px solid #1abc9c;
}

.cocktail-table thead {
  background: #1abc9c;
}

thead {
  color: white;
}

th,
td {
  text-align: left;
  padding: 5px 0;
}

tbody tr:nth-child(even) {
  background: #ecf0f1;
}

tbody tr:hover {
  background: #bdc3c7;
  color: #ffffff;
}

.fixed {
  top: 0;
  position: fixed;
  width: auto;
  display: none;
  border: none;
}

.btn-1 {
  color: #1e9053 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 5px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn-1:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
}

input {
  height: 20px;
  margin-bottom: 5px;
  border: 2px solid #103f26 !important;
  border-radius: 5px;
}